<h3>{{resources.CERVEJA_LISTA_TITULO}}</h3>
<div class="ui cards four wide">
    <div class="ui card" ng-repeat="cerveja in vm.cervejas | orderBy: 'nome'">
        <div class="content">
            <div class="header"><a href ui-sref="alteraCerveja">{{cerveja.nome}}</a></div>
        </div>
        <div class="content">
            <h4 class="ui sub header">{{cerveja.estilo}}</h4>
            <div class="content">
                <span class="left">{{resources.CERVEJA_OG_LABEL}}: {{cerveja.og | number: 3}}</span>            
                <span class="right floated">{{resources.CERVEJA_FG_LABEL}}: {{cerveja.fg | number: 3}}</span>
            </div>
            <div class="content">
                <span class="left">{{resources.CERVEJA_IBU_LABEL}}: {{cerveja.ibu | number: 0}}</span>            
                <span class="right floated">{{resources.CERVEJA_ABV_LABEL}}: {{cerveja.abv | number: 1}}</span>
            </div>
        </div>  
        <div class="extra content">
            <button class="ui mini button">{{resources.CERVEJA_PRODUCOES}}</button>
            <button class="ui mini button" ng-click="vm.excluir(cerveja._id)">{{resources.CERVEJA_EXCLUIR}}</button>
        </div>
    </div>
</div>