<a href ui-sref="novaCerveja">Qual a próxima cerveja?</a>

<table class="ui compact celled  table" ng-show="vm.cervejas.length">
    <thead>
        <tr>
            <th>{{resources.CERVEJA_NOME_LABEL}}</th>
            <th>{{resources.CERVEJA_ESTILO_LABEL}}</th>
            <th>{{resources.CERVEJA_OG_LABEL}}</th>
            <th>{{resources.CERVEJA_FG_LABEL}}</th>
            <th>{{resources.CERVEJA_IBU_LABEL}}</th>
            <th>{{resources.CERVEJA_ABV_LABEL}}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="cerveja in vm.cervejas | orderBy: 'nome'">
            <td>{{cerveja.nome}}</td>
            <td>{{cerveja.estilo}}</td>
            <td>{{cerveja.og | number: 3}}</td>
            <td>{{cerveja.fg | number: 3}}</td>
            <td>{{cerveja.ibu | number: 0}}</td>
            <td>{{cerveja.abv | number: 1}}</td>
            <td class="collapsing">
                <a href ng-click="vm.editar(cerveja)" class="mini ui ">Editar</a> 
                <a href ng-click="vm.excluir(cerveja._id)" class="mini ui  negative">Apagar</a>
            </td>
        </tr>
    </tbody>
</table>