<form name="novaCerveja" role="form" class="ui form" ng-submit="novaCerveja.$valid && vm.salvar()" novalidate>
    <div class="two fields">
        <div class="field">
            <label for="nome">{{resources.CERVEJA_NOME_LABEL}}</label>
            <input name="nome"  type="text" ng-model="vm.model.nome" placeholder="{{resources.CERVEJA_NOME_PLACEHOLDER}}" required>
        </div>
        <div class="field">
            <label for="estilo">{{resources.CERVEJA_ESTILO_LABEL}}</label>
            <input name="estilo" type="text" ng-model="vm.model.estilo" placeholder="{{resources.CERVEJA_ESTILO_PLACEHOLDER}}" required>
        </div>
    </div>
    <div class="four fields">
        <div class="field">
            <label for="og">{{resources.CERVEJA_OG_LABEL}}</label>
            <input name="og" type="text" ng-model="vm.model.og" placeholder="{{resources.CERVEJA_OG_PLACEHOLDER}}" required>
        </div>
        <div class="field">
            <label for="fg">{{resources.CERVEJA_FG_LABEL}}</label>
            <input name="fg" type="text" ng-model="vm.model.fg" placeholder="{{resources.CERVEJA_FG_PLACEHOLDER}}" required>
        </div>
        <div class="field" >
            <label for="abv">{{resources.CERVEJA_ABV_LABEL}}</label>
            <input name="abv" type="text" ng-model="vm.model.abv" placeholder="{{resources.CERVEJA_ABV_PLACEHOLDER}}" required>
        </div>
        <div class="field" >
            <label for="ibu">{{resources.CERVEJA_IBU_LABEL}}</label>
            <input name="ibu" type="text" ng-model="vm.model.ibu" placeholder="{{resources.CERVEJA_IBU_PLACEHOLDER}}" required>
        </div>        
    </div>
    <button class="ui button">{{resources.CERVEJA_SALVAR}}</button>
</form>
