<form role="form" class="ui form nova-cerveja" ng-submit="vm.salvar()">
    <div class="field">
        <label for="nome">{{resources.NOVA_CERVEJA_NOME_LABEL}}</label>
        <input name="nome" type="text" ng-model="vm.model.nome" placeholder="{{resources.NOVA_CERVEJA_NOME_PLACEHOLDER}}">
    </div>
    <div class="form-group">
        <label for="estilo">{{resources.NOVA_CERVEJA_ESTILO_LABEL}}</label>
        <input name="estilo" type="text" ng-model="vm.model.estilo" placeholder="{{resources.NOVA_CERVEJA_ESTILO_PLACEHOLDER}}">
    </div>
    <button class="ui button">{{resources.NOVA_CERVEJA_SALVAR}}</button>
</form>